@tailwind base;
@tailwind components;
@tailwind utilities;

/*gallery component*/

.photoGallery {
  position: relative;
  width: 100%
}

.photoGallery:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}